*{
	margin:0;
	padding: 0;
	font-family: 'glacial_indifferenceregular', Arial, sans-serif;
	font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'glacial_indifferencebold', Arial, sans-serif;
}

@media only screen and (max-device-width: 768px) 
 and (min-device-width: 280px)  {

*{
		font-size: 40px;
	}
	.col-md-12{
		max-width: 92% !important;
		margin-left: auto !important;
		margin-right: auto;
	}

	.container {
    max-width: 100% !important;
    padding-right: 25px;
	padding-left: 25px;
	}
	.navbar-toggler-icon{
		width: 2.5em !important;
		height: 2.5em !important;
	}
	.logo{
			width:200% !important;
		}
	.edu-board-cards > button{
	width: 80%;
    font-size: 30px;
    background: #3498db;
    color: white;
    box-shadow: 1px 1px 3px black;
    margin: 30px;
	}
	.edu-board-cards-blue > button{
	width: 80%;
    font-size: 30px;
    background: #f0f3f4;
    color: black;
    box-shadow: 1px 1px 3px white;
    margin: 30px;
	}
	.circle{
	background: lightblue;
    border-radius: 50%;
    width: 10% !important;
    height: 20% !important;
    text-align: center;
    margin-top: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
	.circle>i {
	    font-size:40px !important;
    margin-top: 15% !important;
    vertical-align: middle;
}
.edu-logo{
	width: 30% !important;
}
.edu-board-cards, .edu-board-cards-blue{
	margin: 50px; 
}
.con{
    margin-right:20px;
}

}
.top-bar{
	font-size: 20px;
	padding: 10px;
	text-align: center;
	background: black;
	color: white;
	font-family: 'glacial_indifferenceregular', Arial, sans-serif;
}

.logo{

	width:100%;
}

.navbar {
	background-color: #3498db !important;
}

.navbar-light .navbar-toggler{
	    border: 1px solid white !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(img/bars.png) !important;
}

.nav-link{
		color: white !important;
		margin-right: 10px;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 1px;
}

li.active-menu{
	background: #5dade2;
	padding-left: 10px;
}

.heading{
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
}

.edu-board-cards{
	padding: 10px;
	margin-bottom: 25px;
	border-radius: 10px;
	background: #f0f3f4;
	border: 1px solid #3498db;
	height: auto;
	text-align: center;
}
.edu-board-cards-blue{
	padding: 10px;
	margin-bottom: 25px;
	border-radius: 10px;
	background: #3498db;
	border: 1px solid #f0f3f4;
	height: auto;
	text-align: center;
	color: white;
}

a.home-a{
	text-decoration: none;
	color: black;
}

a.home-a:hover{
	text-decoration: none;
	color: black;
}

div.edu-board-cards:hover{
	box-shadow: 0px 4px 12px 1px grey;
	cursor: pointer;
}

div.edu-board-cards-blue:hover{
	box-shadow: 0px 4px 12px 1px grey;
	cursor: pointer;
}

.edu-board-cards-blue>div{
	padding: 10px;
}
.edu-board-cards>div{
	padding: 10px;
}

.edu-logo{
margin-top: 15px;
display: block;
width: 50%;
height: auto;
margin-left: auto;
margin-right: auto;
}

.btn-outline-primary-grey{

	color:#fff;
	border-color:#f0f3f4;
}

.btn-outline-primary-grey:hover{

	color:black;
	background: #f0f3f4;
	border-color:#f0f3f4;
}

.circle{
	background: lightblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-top: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.circle>i{
	margin-top:23%; 
	font-size: 25px;
	vertical-align: middle;
}

.choose-us-text{
	text-align: center;
	margin: 15px;
}

.blog{
	width: 100%;
}

.moreblog-btn{
	background: #3498db; 
	color: white; 
	width: 100%;
}

button.moreblog-btn:hover{
	background: white; 
	color: #3498db;
	border: 2px solid #3498db; 
	width: 100%;
}

.blog-text{
	padding: 10px;
	text-align: center;
}

.testimonial{
	margin-top: 30px;
	background: #3498db;
	height: auto;
	overflow: hidden;
}

.test{
	display: block;
	margin:0px auto;
	width: 250px;
}

.test-text{
	color:white;
	padding: 10px;
	text-align: center;
}

footer{
	background: #3498db;
	color: white;
	padding: 20px;
}

.footer-list{
	list-style: none;
}

footer ul li i{
	margin-right: 15px;
	font-size: 25px;
	text-align: center;
}

#subscribe-form{
	text-align: center;
}

#subscribe-form input{
	margin: 10px 0px;
	padding: 10px;
	width: 100%;
	border-radius: 10px;
	box-sizing: border-box;
	border: 5px solid #5dade2;
}

#subscribe-form input:active{
	border: 5px solid #5dade2;
}

input[type=submit].submit-btn{
width: 60% !important;
background-color: white !important;
border: 5px solid #f0f3f4 !important;
border-radius: 20px !important;
color: #3498db !important;
font-weight: bold !important;
}

input[type=submit].submit-btn:hover{
background-color: #5dade2 !important;
color: white !important;
}

.subscribe-text{
	margin-top: 10px;
}
.con{
	width: 30px;
	float: left;
}

.copyright{
	padding: 5px;
	background: #f0f3f4;
	width: 100%;

}

/*About Page CSS*/
.vision{
    background: url(img/vision.jpg);
    width: 100%;
}
.vision-text {
	text-align: center;
	color: white;
	padding: 50px;
}

.mission-text {
	text-align: center;
	padding: 50px;
}

/*AKU-EB Resources CSS*/
.ssc{
	width: 100%;
}
.ssc>img{
	width: 60%;
}
.hssc>img{
	width: 60%;
}

.ssc>img:hover{
	width: 58%;
}
.hssc>img:hover{
	width: 58%;
}

.content-aku>a:hover{
	text-decoration: none;
}
/* SSC */
.pdf>img{
	width: 10%;
	margin-right: 10px;

}

.pdf{
	background-color: #f0f3f4;
	padding: 10px;
	border-radius: 10px;
	margin-top: 30px;
}

/*AKUEB SSC Syllabus*/
.akueb-syllabus-table{
	border: 1px solid black;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.akueb-syllabus-table th, .akueb-syllabus-table td{
	padding: 10px;
	border: 1px solid black;
}
.akueb-syllabus-table img{
	width: 5%;
	margin-right: 10px;
}

/*Blog*/
.blog>img{
	width: 100%;
}
.blog{
	padding: 10px;
}

.blog p{
	text-align: justify;
}

.blog>span{
	color: grey;
	font-size: small;
}
.sidebar-blog>h5{
	padding: 5px;
	border-bottom: 1px solid #3498db;
}
.list{
	background-color: #f0f3f4;
	border-bottom: 1px solid #3498db;
	list-style: none;
	padding: 5px;
	font-size: 100%;

}

li.last-item{
border-bottom: none;
}

.sidebar-blog a{
	text-decoration: none;
}

.sidebar-blog a:hover{
	color: black;
}

.list img{
	width: 40%;
}

.latest{
	background-color: #f0f3f4;
	padding: 10px;
	margin: 20px 0px;
}
.subscribe-box{
	background-color: #3498db;
	color: white;
	padding: 10px;
	margin: 20px 0px;
}

.categories{
	background-color: #f0f3f4;
	padding: 10px;
	margin: 20px 0px;
}

.categories-list{
	list-style: square !important;
	margin: 10px 0px 10px 22px;
}

/*Blog*/

.heading-blog{
	text-align: center;
}

.blog-content{
	padding: 30px;
}

.blog-content p{
	padding: 10px;
}


.blog-content img{
	padding: 10px;
}